
body{

}
.top-header{
  height: 80px;
  padding: 10px 10px 0 10px;
  background-color: #0b1b2d;
  border-bottom: 1px solid #D7D5D6;;

  .logo, .section-title, .search-box{
    height: 50px;
  }

  .logo, .section-title{
    float: left;
  }

  .logo{
    border: 1px solid rgb(60,77,95);
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 15px;

    img{
      height: 100%;
    }
  }

  .section-title{
    width: 150px;;
    margin-left: 15px;

    p{
      font-size: 17px;
      line-height: 50px;
      color: white;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0;
    }
  }

  .search-box{
    border: 1px solid purple;
    width: 150px;
    float: right;
  }

  .menu-container{
    height: 40px;
    width: 100%;

    section{
      height: 40px;
      min-width: 110px;
      float: left;
      margin-right: 10px;
      font-size: 18px;
      color: white;
      text-transform: uppercase;
      line-height: 40px;
      font-weight: 700;
      padding: 0 10px 10px;
      text-align: center;
    }

    section.active{
      border-bottom: 3px solid #B62E38;
      border-bottom: 3px solid rgb(25,156,225);
    }
  }

}
.main-content{
  background-image: url("../img/background.png") !important;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 120px;

  .scroll{
    height: 100%;
  }


  #inner{
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding-top: 20px;

    .filter-box{
      overflow: hidden;

      .filter-wrapper{
        width: 572px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;


        button{
          width: 175px;
          height: 55px;
          text-align: center;
          float: left;
          margin-right: 15px;
          background-color: #0D1E32;
          background-color: rgb(16,41,63);
          color: white;
          text-transform: uppercase;
          border: none;
          border-top: 1px solid rgb(49,63,93);
          border-top-width: 2px;
          font-size: 14px;

        }

        button.active{
          background-color: #99CAE3;
          background-color: rgb(25,156,225);
          font-weight: 700;
        }
      }
    }

    .section-container{

      .section-title{
        margin: 0 0 0 20px;
        font-size: 18px;
        color: white;
        text-transform: uppercase;
        line-height: 40px;
        font-weight: 700;
      }
    }

    .data-container{
      padding: 0 0 0 20px;
      overflow: hidden;
      white-space: nowrap;
      overflow-x: scroll;
      height: 395px;

      .data-box.active {
        background-color: #0b1b2d;
        border: 1px solid #253446;
        width: 800px !important;
        padding: 20px!important;
      }

      .data-box{
        height: 400px;
        width: 204px;
        display: inline-block;
        margin-right: 15px;
        overflow:hidden;
        padding: 20px 0 0 0;


        .left{
          width: 204px;
          float: left;
        }

        .right {
          width: 534px;
          height: 305px;
          float: left;
          margin-left: 20px;

          iframe{
            width: 100%;
            float: left;
            height: 100%;
          }

          .cast{
            width: 100%;
            height: 65px;
            color: #D7D5D6;
            line-height: 25px;
            font-size: 18px;
            text-align: center;
            word-wrap: break-word;
            overflow: hidden;
            white-space: normal;
            padding-top: 10px;
            margin: 0;
            span{
              font-weight: 700;
            }
          }
        }

        .data-date{
          position: absolute;
          bottom: 110px;
          background-color: #B62E38;
          padding: 15px;
          margin-left: 10px;
          opacity: 0.9;

          p{
            font-size: 17px;
            color: white;
            line-height: 10px;
            margin: 0;
            font-weight: 700;
          }
        }
        .data-image{
          width: 204px;
          height: 305px;
          background-size: 204px 305px;
          object-fit: cover;
        }

        .data-title{
          height: 65px;
          color: #D7D5D6;
          line-height: 25px;
          font-size: 18px;
          text-align: center;
          word-wrap: break-word;
          overflow: hidden;
          white-space: normal;
          padding-top: 10px;
          margin: 0;
        }
      }
    }

    .filter-options{
      border: 1px solid blue;
      height: 70px;
    }
  }
}


