.pane{
  background-image: url("../img/background.png") !important;
  background-repeat: no-repeat;
  background-size: cover;

  .container{
    border: 1px solid red;
    height: 100%;

    .top-header{
      border:1px solid blue;
      height: 70px;
      padding: 10px;

      .logo, .section-title, .search-box{
        height: 50px;
      }

      .logo, .section-title{
        float: left;
      }

      .logo{
        border: 1px solid yellow;
        width: 50px;;
      }

      .section-title{
        border: 1px solid green;
        width: 150px;;
        margin-left: 10px;
      }

      .search-box{
        border: 1px solid purple;
        width: 150px;
        float: right;
      }
    }

    .filter-box{
      border: 1px solid green;
      overflow: hidden;

      .filter-wrapper{
        border: 1px solid blue;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;

        button{
          width: 150px;
          height: 50px;
          text-align: center;
          font-weight: 700;
          float: left;
          margin-left: 10px;
        }
      }
    }

    .data-container{
      border: 1px solid purple;
      padding: 80px 0 50px 20px;
      overflow: hidden;
      white-space: nowrap;
      overflow-x: scroll;

      .data-box{
        border: 1px solid red;
        height: 345px;
        width: 20%;
        display: inline-block;
        margin-right: 25px;

        .data-image{
          border: 1px solid blue;
          height: 305px;
          background-size: cover;
        }

        .data-title{
          border: 1px solid yellow;
          height: 40px;
          color: #D7D5D6;
          line-height: 16px;
          font-size: 15px;
          text-align: center;
        }
      }
    }

    .filter-options{
      border: 1px solid blue;
      height: 70px;
    }

    .footer{
      border: 1px solid red !important;
      height: 70px;
    }
  }
}


