<ion-view view-title="Movies">
    <ion-content class="main-content" style="overflow-y: auto !important;" has-bouncing="true">
        <div id="inner">
            <div class="section-container" ng-repeat="menu in dataService.categories">
                <h1 class="section-title">{{menu.name}}</h1>
                <ion-scroll direction="x" scrollbar-x="false" scrollbar-y="false" has-bouncing="true" class="data-container" disable-side-menu>
                    <div class="data-box" ng-repeat="movie in dataService.movies[menu.endpoint]"
                         ng-class="{'active': selectedMovie === movie.id}" id="{{movie.id}}" ng-click="selectMovie(menu.endpoint, $index)">
                        <section class="left">
                            <section class="data-date"><p>{{movie.release_date | amDateFormat:'MMMM Do'}}</p></section>
                            <img class="data-image" ng-src="{{IMG_URL+movie.poster_path}}"/>
                            <p class="data-title">{{movie.title}}</p>
                        </section>
                    </div>
                </ion-scroll>
            </div>
        </div>
    </ion-content>

</ion-view>
